@import "tailwindcss";

html, 
body {
  padding: 0;
  margin: 0;
  font-family: 'Livvic', sans-serif;
  background-color: black;
  scroll-behavior: smooth;
}

.fractal-animation {
  transition: transform 0.5s ease-in-out;
}

.fractal-animation:hover {
  transform: scale(1.05);
}
